body {
  min-height: 2000px;
  padding-top: 70px;
}
body nav.navbar.navbar-default.navbar-fixed-top {
  background-color: #fec155;
  border-color: #fec155;
}
body nav.navbar.navbar-default .navbar-nav > li > a {
  color: #fff;
}
body nav.navbar.navbar-default .navbar-nav > li.active > a {
  background-color: #fff;
  color: #fec155;
}
body nav.navbar.navbar-default .navbar-nav > li {
  margin: 0 30px;
}
body nav.navbar .navbar-header .navbar-brand {
  color: #fff;
}
#product {
  padding-top: 60px;
}
#product + .container img {
  width: 100%;
}
#about {
  padding-top: 40px;
}
#about + .container {
  padding: 10px 0;
  background-color: #fec155;
}
#about + .container iframe {
  width: 100%;
  height: 600px;
}
#review {
  padding-top: 40px;
}
#review + .container .cheese-line {
  margin: 60px 0;
}
#review + .container .benefits h3 {
  color: #fec155;
}
#review + .container .benefits ol li {
  text-align: justify;
  margin: 20px 0;
}
.rotate-45-deg {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
