!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags

    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %link{:href => "favicon.ico", :rel => "icon"}

    %title Formagepro

    / Bootstrap core CSS
    %link{:href => "vendor/bootstrap-3.3.6-dist/css/bootstrap.min.css", :rel => "stylesheet"}

    / IE10 viewport hack for Surface/desktop Windows 8 bug
    / %link{:href => "../../assets/css/ie10-viewport-bug-workaround.css", :rel => "stylesheet"}/

    / Custom styles for this template
    %link{:href => "css/style.css", :rel => "stylesheet"}

    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
    %script{:src => "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"}
    %script{:src => "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"}
  %body{ "data-spy" => "scroll", "data-target" => "#navigation-spy" }
    / Fixed navbar
    %nav#navigation-spy.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#product"}
            %img{ :src => "img/logo_white.png" }
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right{ :role => "tablist" }
            %li
              %a{:href => "#product"} Product
            %li
              %a{:href => "#about"} About
            %li
              %a{:href => "#review"} Review
            %li
              %a{:href => "https://www.amazon.com/dp/B01991EOCK"} Buy

    #product
    .container
      %img{ :src => "img/product.png", :usemap => "banner" }
      %map{ :name => "banner" }
        %area{ :shape => "rect", :coords => "740, 260, 980, 370", :href => "https://www.amazon.com/dp/B01991EOCK", :alt => "Buy It Now" }

    #about
    .container
      %iframe.injected-video{ :src => "https://www.youtube.com/embed/5C8DoJYlCbg?rel=0&amp;showinfo=0", :frameborder => "0" }

    #review
    .container
      .row.cheese-line
        .col-md-1
          %img{ :src => "img/cheese_square.png" }
        .col-md-1
          %img.rotate-45-deg{ :src => "img/cheese_square.png" }
        .col-md-1
          %img{ :src => "img/cheese_square.png" }
        .col-md-1
          %img.rotate-45-deg{ :src => "img/cheese_square.png" }
        .col-md-1
          %img{ :src => "img/cheese_square.png" }
        .col-md-1
          %img.rotate-45-deg{ :src => "img/cheese_square.png" }
        .col-md-1
          %img{ :src => "img/cheese_square.png" }
        .col-md-1
          %img.rotate-45-deg{ :src => "img/cheese_square.png" }
        .col-md-1
          %img{ :src => "img/cheese_square.png" }
        .col-md-1
          %img.rotate-45-deg{ :src => "img/cheese_square.png" }
        .col-md-1
          %img{ :src => "img/cheese_square.png" }
        .col-md-1
          %img.rotate-45-deg{ :src => "img/cheese_square.png" }

      .row.benefits
        .col-md-5
          %h3.text-uppercase Features & benefits

          %ol
            %li 1) High quality stainless steel blades. Varnished solid acacia wood handles.
            %li 2) Comfortable to hold and easy to use. Extremely sharp blades make cutting the hardest cheese easy.
            %li 3) Beautiful and elegant cheese knives to beautify your cheese boards and enhance enjoyment of your cheese courses.
            %li 4) Complete set of knives for every type of cheese packaged in a high quality gift box. Perfect for storage or all occasions gifts.
            %li 5) A high end set of cheese knives at a fraction of high street pricing.


        .col-md-offset-2.col-md-5.amazon-review
          %h3.text-uppercase
            %a{ :href => 'https://www.amazon.com/Stainless-Cheese-Knives-Acacia-Handles/product-reviews/B01991EOCK/ref=cm_cr_dp_see_all_summary?ie=UTF8&showViewpoints=1&sortBy=helpful', :target => '_blank' } Amazon reviews

          %ul
            %li
              %img{ :src => 'img/stars.png' }
              %span These look so cool and there is a variety of knives
              %p I received this product at a discounted rate in exchange for my honest opinion. I was looking for some cheese knives for awhile since my boyfriend and I have been getting into wine and cheeses. These look so cool and there is a variety of knives. I really like the wooden handles too. It gives it a better grip and I like the look of it as well. I would definitely recommend getting these if you're thinking about getting some cheese knives.

            %li
              %img{ :src => 'img/stars.png' }
              %span Fits every category of cheese
              %p These knives are perfect for when you invite guests over during the Holiday season. You can break out the good cheese and crackers. It works on rubbery cheeses like Gouda or crumbles like blue cheese. It even works for perfect spreads like Philly cream cheese. Your guests will be impressed that you are always prepared. I received these knives at a discounted price in exchange for my honest and unbiased opinion. I am very impressed by the different shapes and function of the knives. I also think they have a very classic look.

            %li
              %img{ :src => 'img/stars.png' }
              %span Great knives!
              %p Gorgeous cheese knives set! I've never owned a set of cheese knives, but after deciding to host more friends and family gatherings at my house, I've wanted to step up my game and look a little more classy with cheese plates. These knives really fit the bill, they are high quality, very sturdy and easy to use and clean. Looking forward to hosting more parties with these soon! I received this product at a discount price in exchange for my honest review.




    .fat-black-line
      .container
        %img.buy-now{ :src => "img/button_buy.png", :usemap => "buy" }
        %map{ :name => "buy" }
          %area{ :shape => "rect", :coords => "10, 84, 260, 184", :href => "https://www.amazon.com/dp/B01991EOCK", :alt => "Buy It Now" }
        %img.guarantee-100.pull-right{ :src => "img/guarantee100.png" }


    %footer.footer.text-center
      .text-uppercase.text-muted Designed by BC Studio

    / Bootstrap core JavaScript
    /==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "vendor/jquery-2.2.4.min.js"}
    %script{:src => "vendor/bootstrap-3.3.6-dist/js/bootstrap.min.js"}
    / IE10 viewport hack for Surface/desktop Windows 8 bug
    / %script{:src => "../../assets/js/ie10-viewport-bug-workaround.js"}